In [2]:
print("kiran")

kiran

In [3]:
rent = 1000
grocery = 2000
fuel = 1250
total = rent + grocery + fuel
print(total)

4250

In [4]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [8]:
if 3 < 1:
    print("its true")

In [9]:
if 3 < 4:
    print("its true")

its true

In [10]:
if 5 > 2:
    print("its true")
else:
    print("its false")

its true

In [15]:
x = 5
y = "Hello, World!"
print(f"{x} {y}")

5 Hello, World!

In [16]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [17]:
x = str(3)
y = int(3)
z = float(3)
print(x)

3

In [19]:
x = "John"
y = 'Doe'
print(y)

Doe

In [20]:
a = 4 
A = "Sally"
print(a)
print(A)

4
Sally

In [21]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)

Orange

In [30]:
a,b,c = "kiran","harsh","aayush"
print(a)
print(b)

kiran
harsh

In [31]:
x=y=z="Orange"
print(x)

Orange

In [33]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)

apple
banana

In [34]:
fruits = ["apple", "banana", "cherry"]
fruits[0]

'apple'

In [36]:
x = "python"
y= "is"
z = "awesome"
print(x +" "+ y + " " + z)

python is awesome

In [37]:
x = "python "
y= "is "
z = "awesome "
print(x + y + z)

python is awesome

In [40]:
def kiran(numbers, show_even=True):
    """Analyze a list of numbers and return sum, average, and even numbers (optional)."""
    
    total = sum(numbers)
    average = total / len(numbers)
    
    even_numbers = [num for num in numbers if num % 2 == 0] if show_even else "Skipped"
    
    return {
        "Sum": total,
        "Average": average,
        "Even Numbers": even_numbers
    }

# Example usage
data = [10, 15, 20, 25, 30]
result = kiran(data)

print(result)

{'Sum': 100, 'Average': 20.0, 'Even Numbers': [10, 20, 30]}

In [44]:
x = "awesome"
def kiran():
    print("pyhton is" + " " + x)

kiran()

pyhton is awesome

In [46]:
x = 5
x = complex(x)
print(x)

(5+0j)

In [47]:
print(type(x))

<class 'complex'>

In [48]:
x = range(5)
print(x)

range(0, 5)

In [49]:
print(type(x))

<class 'range'>

Format String

In [5]:
price = 85
convert = f"multiply {price}"
print(convert)

multiply 85

In [7]:
price = 85
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 85.00 dollars

In [8]:
txt = f"multiply {20 * 34}"
print(txt)

multiply 680

#escape character

In [10]:
text = "we are the so-called \"viking\" from the north."
print(text)

we are the so-called "viking" from the north.

In [27]:
text = """
we are the so-called "viking" from the north.,
i love my "india" very much.
"""
print(text)

we are the so-called "viking" from the north.,
i love my "india" very much.

built in methods for strings

In [26]:
text = "Hello, And Welcome To My World!"
print(text.capitalize())

Hello, and welcome to my world!

In [28]:
text = "Hello, And Welcome To My World!"
print(text.encode())

b'Hello, And Welcome To My World!'

In [29]:
text = "Hello, And Welcome To My World!"
print(text.endswith("@"))

False

In [30]:
text = "Hello, And Welcome To My World!"
print(text.expandtabs(2))

Hello, And Welcome To My World!

In [36]:
text = "Hello, And Welcome To My World!"
print(text.find("To"))

19

In [48]:
text = "Hello, And Welcome To My World!"
print(text.index("llo"))
print(text[2:])

2
llo, And Welcome To My World!

In [57]:
text = "Hello, And Welcome To My World!"
print(text.swapcase())

hELLO, aND wELCOME tO mY wORLD!

Boolen

In [60]:
x = "i love my country"
y = "i dont like my country"

if len(x) > len(y):
    print("x is greater than y")
else:
    print("y is greater than x ")

y is greater than x

In [68]:
def my_function():
    return "Hello from a function"

if my_function():  # Calling the function
    print(my_function().find("from"))  # Calling the function again and using .find()
else:
    print("not found")

6

In [69]:
def my_function():
    return "Hello from a function"

if "Hello" in my_function():  # Check if "Hello" is in the returned string
    print(True)
else:
    print(False)

True

In [70]:
def my_function():
    return "Hello from a function"

if "Ram" in my_function():  # Check if "Hello" is in the returned string
    print(True)
else:
    print(False)

False

Operator

In [76]:
x = 5
y = 2
print(x % y)

1

In [72]:
x = 9 
y = 2
print(x ** y)

81

In [78]:
x = 9
y = 2
print(x // y)

4

In [79]:
x = 9
y = 2
print(x / y)

4.5

In [80]:
x = 5
x <<= 3
print(x)

40


list

In [87]:
mymakeupbox = ["lipstick", "eyeliner", "mascara", "foundation", "eyeshadow", "blush", "highlighter", "bronzer", "concealer", "setting spray"]
print(mymakeupbox)
print(mymakeupbox[3])

if "blush" in mymakeupbox:
    print("Yes")
else:
    print("No")

['lipstick', 'eyeliner', 'mascara', 'foundation', 'eyeshadow', 'blush', 'highlighter', 'bronzer', 'concealer', 'setting spray']
foundation
Yes

list Item in data type

In [97]:
list1 = ["apple", "banana", "cherry"]
list2 = [1,4,5,6,77,8,9]
list3 = [True, False, False]
list4 = {"fruits":["apple","banana","orange"], 
         "laptop":["dell","HP"],
         "car":["BMW","benz"]
         }
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
print(len(list4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'dict'>
3

change list items

In [100]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thisislist[1:3] = ["blackcurrant", "watermelon"]
print(thisislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [104]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thisislist.insert(0, "watermelon")
print(thisislist)

['watermelon', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [106]:
mylist = ["apple", "banana", "cherry"]
mylist[0] = "kiwi"
print(mylist[1])

banana

adding list item

In [107]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [111]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(0,"orange")
print(mylist)

['orange', 'apple', 'banana', 'cherry']

In [113]:
mylist = ["apple", "banana", "cherry"]
mylist2 = ["orange", "mango", "grapes"]
thisislist.extend(mylist2)
print(thisislist)

['watermelon', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange', 'mango', 'grapes']

In [116]:
mylist = ["apple", "banana", "cherry"]
mylist.pop(0)
print(mylist)

['banana', 'cherry']

In [126]:
mylist = ["apple", "banana", "cherry"]
del mylist[1]
print(mylist)
print(type(mylist))

['apple', 'cherry']
<class 'list'>

In [121]:
mylist = ["apple", "banana", "cherry"]
del mylist

LOOP LIST

In [124]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for x in thisislist:
    print(x)
print(type(thisislist))

apple
banana
cherry
orange
kiwi
melon
mango
<class 'list'>

In [127]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for i in range(len(thisislist)):
    print(thisislist[i])

apple
banana
cherry
orange
kiwi
melon
mango

In [131]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for i,list in enumerate(thisislist,start=1):
    print(f"{i} . {list} ")

1 . apple
2 . banana
3 . cherry
4 . orange
5 . kiwi
6 . melon
7 . mango

list comprehensive

In [1]:
print("this is new world order")

this is new world order

In [3]:
print("check check;check")

check check;check